@use './scss/normalize' as *;
@use './scss/variables' as *;

html {
  font-family: Arial;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient($base-color-8, $base-color-1);
  color: $base-color-2;
}

#root {
  min-height: 100vh;
}
