$base-color-1: #333;
$base-color-2: #efefef;
$base-color-3: #a5a5a5;
$base-color-4: #2481fa;
$base-color-5: #fa242f;
$base-color-6: #fff;
$base-color-7: #1e1e1e;
$base-color-8: #565656;

$btn-padding: 1rem 0.75rem;
$btn-fz: 1rem;
$btn-br: 0.25rem;
